<h1>Editing list</h1>

<%= render 'form' %>

<h2>
List items
</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Duedate</th>
    </tr>
  </thead>

  <tbody>
<% ListItem.where("List_id = ?", @list.id).each do |li| %>
<tr> 
<td> <%=li.Name%></td>
<td> <%=li.Duedate%></td>

</tr>
<% end %>
  </tbody>
</table>
<%= link_to 'New List item', new_list_item_path(:list_id=>@list.id) %>

<%= link_to 'Show', @list %> |
<%= link_to 'Back', lists_path %>
