:<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.Name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @list.user.try(:email) %>
</p>

<%= debug params %>
<%= link_to 'New List item', new_list_item_path(:list_id=>@list.id) %>

<%= link_to 'Edit', edit_list_path(@list) %> 
<%= link_to 'Back', lists_path %>
