<%= form_for(@list_item) do |f| %>
  <% if @list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_item.errors.count, "error") %> prohibited this list_item from being saved:</h2>

      <ul>
      <% @list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<table>
<thead>
<tr>
<th>
    <%= f.label :Name %><br>
</th>
<th>
    <%= f.label :Duedate %><br>
</th>
<th>
    <%= f.label :Status %><br>
</th>
</tr>
</thead>
<tr>
<td>
  <div class="field">
    <%= f.text_field :Name %>
  </div>
</td><td> 
 <div class="field">
    <%= f.date_select :Duedate %>
  </div>
</td><td> 
  <div class="field">
    <%= f.select(:Status, options_for_select(ListItem.Statuses.keys)) %>
  </div>
  <%= f.hidden_field :List_id, value:params[:list_id] %>
</td><td> 
  <div class="actions">
    <%= f.submit %>
  </div>
</td> 

</tr>  
</table>
<!--TBD: dynamically change input form using JS-->
 <%= debug params %>  
<% end %>
