<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list_item.Name %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @list_item.Duedate %>
</p>
<p>
  <strong>Status:</strong>
  <%= @list_item.Status %>
</p>

<p>
  <strong>Parent list:</strong>
  <%= List.find(@list_item.List_id).Name %>
</p>

<%= debug params %>  

<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'Back', list_path(@list_item.List_id) %>
