<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list_item.Name %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @list_item.Duedate %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @list_item.Owner %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @list_item.Parent %>
</p>

<%= link_to 'Edit', edit_list_item_path(@list_item) %> |
<%= link_to 'Back', list_items_path %>
